.ImageList{
    width: 75%;
    gap: 6px;
    height: fit-content;
    margin-block-start: 0.8rem;
}

.VotingPageContainer {
    display: flex;
    background-color: white;
}

@media (max-width: 600px) {
    .ImageList{
        width: 100%;
    }

    .VotingPageContainer{
        display: block;
    }
}


