.SuggestionTutorialOverlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    .ImageOverlay {
      top: 0;
      left: 0;
      width: 50vh;
      height: 75vh;
      opacity: 0;
      animation: approve 4s ease-in-out infinite;
  
      > i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
  
      > .fa-circle-check {
        color: #19ae46;
        animation: checkMark 4s ease-in-out infinite;
      }
  
      > .fa-circle-xmark {
        color: #e84711;
        animation: crossMark 4s ease-in-out infinite;
      }
    }
  }
  
  .ImageTutorial {
    max-width: 100%;
    height: 75vh;
    animation: fadeOut 4s ease-in-out infinite;
    object-fit: contain;
  }

  .ImageContainer {
    width: 100vh;
    height: 75vh;
    display: flex;
    justify-content: center;
}
  
  @keyframes fadeOut {
    from,
    to {
      opacity: 0.8;
    }
  
    20% {
      opacity: 0.3;
    }
  
    30% {
      opacity: 0.3;
    }
  
    50% {
      opacity: 0.6;
    }
  
    70% {
      opacity: 0.3;
    }
  
    80% {
      opacity: 0.3;
    }
  }
  
  @keyframes approve {
    from,
    to {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.0);
    }
  
    20% {
      opacity: 1;
      transform: translate(5vh, 0);
      background-color: rgba(0, 255, 0, 0.3);
    }
  
    30% {
      opacity: 1;
      transform: translate(5vh, 0);
      background-color: rgba(0, 255, 0, 0.3);
    }
  
    50% {
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
    }
  
    70% {
      opacity: 1;
      transform: translate(-5vh, 0);
      background-color: rgba(255, 0, 0, 0.3);
    }
  
    80% {
      opacity: 1;
      transform: translate(-5vh, 0);
      background-color: rgba(255, 0, 0, 0.3);
    }
  }
  
  @keyframes checkMark {
    from,
    to {
      opacity: 0;
    }
  
    20% {
      opacity: 1;
    }
  
    30% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
  }
  
  @keyframes crossMark {
    from,
    to {
      opacity: 0;
    }
  
    50% {
      opacity: 0;
    }
  
    70% {
      opacity: 1;
    }
  
    80% {
      opacity: 1;
    }
  }
  
  i {
    font-size: 6em;
  }
  