.WebSuggestionTutorialOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    .TutorialImage {
      max-height: 60vh;
    }
    
    
    .WebTutorialOverlayContainer {
        height: 750px;
        max-height: 60vh;
        max-width: 20vh;
        opacity: 0.4;
        position: absolute;
      }
    
    .RightContainer {
        background-color: green;
        transform: translate(50%, 0);
        width: 250px;
      }

      .LeftContainer {
        border-right-color: white;
        border-right-style: dashed;
        background-color: red;
        transform: translate(-50%, 0);
        width: 248px;
      }

    
}