.OverlayToolbar {
    position: absolute;
    bottom: 0%;
    color: inherit; /* Set the text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Add a text shadow */
  }

.cursiveFont {
  font-style: italic;
}

.inheritColor {
  color: inherit !important
}