// PersonalRanking.module.scss
$head-background-color: rgb(233, 47, 108);
$head-text-color: #fff;
$hover-background: #FFF0F3;
$active-label-color: #FF758F;

.TableHeadCell {
  background-color: $head-background-color !important;
  color: $head-text-color !important;
  font-weight: bold !important;
}

.activeLabel {
  color: $active-label-color !important;
}

.TableRow:nth-of-type(odd) {
  background-color: $hover-background;
}
