.SearchInterfaceWrapper{
    width: 25%;

    .SearchBarWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .SuggestionButton{
            height: 56px;
            color: rgba(0,0,0,0.23);
            border-color: rgba(0,0,0,0.23);
            &:hover{
                border-color: rgba(0,0,0,0.54);
                border-width: 2px;
                background-color: white;
            }

            span {
                margin: 0;
            }
        }
    }
}

@media (max-width: 600px) {
    .SearchInterfaceWrapper{
        width: 100%;
    }
}