.movieImage {
    &:hover {
        cursor: pointer;
    }
    padding-right: 0.5rem;
}

.eventCard {
    margin-bottom: 2rem;
}

.movieTile {
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.evenRow{
    background-color: #A9D6E5;
}

.oddRow{
    background-color: #2C7DA0;
}