.EventImageContainer {

    position: relative;
    width: 100%;
    display: flex;
    align-items: center; /* Vertically center the content */
    flex-direction: column;
    background-color: white;

    img {
        object-fit: cover;
        border-radius: 4px;
    }
}

.EventImageContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #000, #fff); /* Dark to light gradient from left to right */
    opacity: 0.5; /* Adjust the opacity of the overlay */
    background-position: center center; /* Center the gradient both horizontally and vertically */
    background-repeat: no-repeat;
    background-size: cover;;
  }

  .OverlayText {
    position: absolute;
    top: 40%;
    font-size: 24px; /* Set the desired font size */
    color: white; /* Set the text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Add a text shadow */
  }

  .OverlayToolbar {
    position: absolute !important;
    bottom: 0%;
    color: white; /* Set the text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Add a text shadow */
  }