// RatingElement.module.scss

.RatingElement {
    display: flex;
    flex-direction: column;
    height: 100%;
  
    .rectangle {
      height: 10%; // Adjust the height as needed
      text-align: center;
      color: white;
      font-weight: bold;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
  
      &:hover {
        opacity: 0.8;
      }
    }
  }
  
